.section {
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .section__button {
        border-bottom: none;
        padding: 10px;
        display: block;
        margin: 0 auto;
    }
}

.section__button--none {
    background-color: white;
    color: white;
    border: none;
    border-bottom: 1px solid #ccc;
    max-height: 58px;
}

@media (max-width: 767px) {
    .section__button--none {
        border-bottom: none;
    }
    
}

.section__button:hover {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: gray;
}


.section__header {
    font-size: x-large;
    padding: 15px;
    align-self: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-top: 0;
}

@media (max-width: 767px) {
    .section__header {
        margin-bottom: 10px;
    }
}
