.buttons__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

@media (max-width: 767px) {
    .buttons__container {
        display: block;
    }
}

.buttons__button {
    color: teal;
    background-color: white;
    border: none;
    border-bottom: 1px solid #ccc;
    max-height: 58px;
    font-size: larger;
    transition: 1s;
}

@media (max-width: 767px) {
    .buttons__button {
        border-bottom: none;
        padding: 10px;
        display: block;
        margin: 0 auto;
    }
}

.buttons__button--none {
    background-color: white;
    color: white;
    border: none;
    border-bottom: 1px solid #ccc;
    max-height: 58px;
}

@media (max-width: 767px) {
    .buttons__button--none {
        border-bottom: none;
    }
    
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: gray;
}
